Package: MCManager
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: debconf (>= 0.2.26)
Maintainer: C0d0Type23
Description: A Minecraft Server Manager for (Spigot,CraftBukkit,BungeeCord)
